/*itemmodal.css 
these styles are for the item modal
to override any styles is gets from modalwithform.css if override is not
accepted use of !important was implemented as of 5/15/25 beforehand this
was not needed */
.modal__content_type_image {
  margin: 20px;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  /* background-color: #fff;  now is recieving from modalwithform.css */
  border-radius: 16px !important;
}

.modal__image {
  width: 100%;
  height: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  object-fit: cover;
  overflow: hidden;
}

.modal__close_type_image {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  background-image: url(../../assets/closeButtonLight.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal__footer {
  padding: 20px 32px 32px;
  display: flex;
}

.modal__footer-description {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__caption {
  margin: 0;
}

.modal__weather {
  margin: 0;
}

.modal__delete {
  margin-left: auto; /* Pushes button to the right */
  padding: 0;
  display: flex;
  height: 25px;
  align-items: center;
  background-color: transparent;
  border: none;
  color: #ff4d00;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}
